# Auto detect text files and perform LF normalization
* text=auto
C:/Users/sanke/OneDrive/Pictures/fine-tuning-build-project-main/fine-tuning-build-project-main/build-project-fine-tuning-model/streamlit_app/data/** filter=lfs diff=lfs merge=lfs -text
